{% extends 'shop/basic.html' %}

{% block title %}My Awesome Cart-checkout page{% endblock %}

{% block body %}

<div class="container">
    <div class="col my-3">
        <h2>Step-1 - My Awesome Cart Express Checkout - Review Your Cart Items</h2>
        <div>
            <ul class="list-group" id="items">
            </ul>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mt-3 col-md-7">
                <li class="breadcrumb-item active" aria-current="page">Total Price Of Your Cart Is <b>&#8377;.<span id="totalPrice"></span>.00<b></b></li>
              </ol>
            </nav>

        </div>
    </div>
    <div class="col my-3">
        <h2>Step-2 - Enter Your Details</h2>
            <form method="post" action="/shop/checkout/">{% csrf_token %}
                <input type="hidden" id="itemsJson" name="itemsJson">
                <input type="hidden" id="amount" name="amount">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputname">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
              </div>
              <div class="form-group">
                <label for="inputAddress2">Address Line 2</label>
                <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
              </div>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" id="city" name="city" placeholder="Enter City Name">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <input type="text" class="form-control" id="state" name="state" placeholder="Enter State Name">
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Zip Code</label>
                  <input type="text" class="form-control" id="zip_code" name="zip_code">
                </div>
                  <div class="form-group  col-md-3">
                  <label for="inputPhone">Phone No</label>
                  <input type="tel" class="form-control" id="phone" name="phone">
                </div>
              </div>
                <div class="input-group-prepend">
                    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Payment</button>
                    <div class="dropdown-menu">
                      <input type="checkbox" id="payment" name="payment" value="Cash/Card on delivery" aria-label="Checkbox for following text input">Cash/Card on delivery
                      <div role="separator" class="dropdown-divider"></div>
                      </div>
                </div><br>
              <button type="submit" class="btn btn-primary">Place Order</button>
            </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
console.log(cart);
var sum = 0;
var totalPrice = 0;
if($.isEmptyObject(cart)){
    mystr = `<h5>Your cart is empty, please add some items to your cart before checking out!</h5>`
    $('#items').append(mystr);
}
else{
for(item in cart){
    let name = cart[item][1];
    let qty = cart[item][0];
    let itemprice = cart[item][2];
    sum = sum + qty;
    totalPrice = totalPrice + qty* itemprice
    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center col-md-7">
                Product Name - ${name}.
                <span class="badge badge-primary badge-pill">Product Quantity - ${qty}</span>
              </li>`
    $('#items').append(mystr);
}
}
document.getElementById('cart').innerHTML = sum;
document.getElementById('totalPrice').innerHTML = totalPrice;
$('#itemsJson').val(JSON.stringify(cart));
{% if thank %}
alert('Thanks for shopping with us. Your order id is {{id}}. Use it to track your order using our order tracker');
localStorage.clear();
document.location = "/shop";
{% endif %}
$('#amount').val($('#totalPrice').html())
</script>
{% endblock %}

